.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.vscode/settings.json
.vscode/extensions.json
.gitignore
platformio-device-monitor*.log
platformio_override.ini
